/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family:'Montserrat', sans-serif;;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* Header style */

header {
    background-color: #3161E0;
    height: 100px;
    padding: 20px;
}

.bar {
    height: 50px;
}

.h-column-left {
    flex-grow: 1;
    vertical-align: middle;
    padding-top: 5px;
}

.h-column-right {
    flex-grow: 1;
    line-height: 40px;
    text-align: right;
    padding-top: 5px;
}

#login {
    border-radius: 30px;
    background-color: white;
    padding: 15px;
}

nav {
    padding: 10px 20px;
    flex-grow: 3;
    line-height: 30px;
    text-align: center;
    color: white;
    word-spacing: 3em;
    font-size: 16px;
}

/* Main sections style */

/* TOP */

.top {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    padding-top: 50px;
}

.intro {
    height: 400px;
    margin: 0 300px;
    text-align: center;
}

h1 { 
    font-size: 70px;
    color: white;
}

#introduction {
    color: white;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#download {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    margin-right: 10px;
}

#browser {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 30px;
    margin-left: 10px;
    font-size: 20px;
}

/* MID */

.midbox {
    /* height: 500px; */
    padding-top: 50px;
}

.midcolumn-left {
    /* height: 400px; */
    flex-grow: 2;
    flex-basis: 66%;
}

.midcolumn-right {
    /* height: 400px; */
    flex-grow: 1;
    flex-basis: 33%;
}

.midrevbox {
    /* height: 500px; */
    padding-top: 50px;
}

.midcolumnrev-left {
    flex-grow: 1;
    /* height: 400px; */
    flex-basis: 33%;
}

.midcolumnrev-right {
    /* height: 400px; */
    flex-grow: 2;
    flex-basis: 66%;
}

.midrev {
    background-image: url();
}

.subtitle {
    font-size: 50px;
}

.description {
    font-size: 20px;
    padding-top: 25px;
}

/* BIG */

.big {
    height: 1000px;
    background-color: #D3D3D3;
    padding-top: 50px;
}

.macro {
    height: 900px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#subsubtitle {
    background-image: url(../img/stars.svg);
    background-size: contain;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

#downloadbig {
    background-color: #8EA1E1;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-size: 20px;
}

/* BOT */

.bot {
    background-color: #23272A;
}

.botbox {
    height: 500px;
    padding-top: 30px;
    border-bottom: 2px solid #404B6D;
}

.botcolleft {
    height: 450px;
    flex-grow: 2;
    line-height: 60px;
}

.botcol {
    height: 450px;
    flex-grow: 1;
    line-height: 35px;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
}

#lasttitle {
    font-size: 40px;
    color: #7289DA;
}

.category {
    color: #7289DA;
}

#bandiera {
    width: 35px;
    height: 20px;
    vertical-align: middle;
}

#lingua {
    vertical-align: middle;
    color: white;
}

/* Footer style */

footer {
    background-color: #23272A;
    height: 100px;
    padding-top: 20px;
}

.controls {
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

#registration {
    background-color: #8EA1E1;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

